@{
    ViewData["Title"] = "Index";
}


<div class="container" id="divim">
    <a href="/Login/Kontrol" class="btn btn-danger">ADMİN GİRİS</a> 
<a href="/Search/Index" class="btn btn-primary">KULLANICI GİRİS</a>
</div>